// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

// Changing the theme colors
$primary: #9f1f63;
$secondary: #00aee5;
$light: white;